$fondo: linear-gradient(to top,#537A38,#D4F7BB,#A8F571);


@mixin dim ($alto,$ancho){
    height: $alto;
    width: $ancho;}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#area
{
    display: grid;
    grid-template-areas:
    "menu  menu  menu menu"
    "info2 info2 info2 banner"
    "info2 info2 info2 banner"
    "footer footer footer footer";
    gap: 5px;
    height: 120vh;
    grid-template-rows: 80px auto auto 30px auto;
    grid-template-columns: auto auto auto 310px;
    background: $fondo;
    header
    {
    
    grid-area: info;
    position:fixed;
    top: 50px;
    left:120px;
    right:0;
    padding: 10px;
    padding-bottom: 50px;

        img{
        width:100%;
        height: auto; 
        padding: 20px 20px;
        margin: 20px 20px;
    }
    }
    nav
    {
    
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    position:fixed;
    left: 0px;
    right:0px;
    /*padding-left: 100px;*/
    z-index:1;

        ul{

            list-style: none;
            display: flex;
            list-style: none;
            justify-content: end;
            align-content: stretch;
            flex-wrap: wrap;
            align-items: center;
        
            li a{
                margin:10px 10px;
                padding: 10px;
                background-color: #A8F571;
                text-decoration: none;
                color:antiquewhite;
                border-radius: 5px;

            }

            li a:hover
            {
             background-color: white;
             color: #657559;
            }
        }   
        div img
        {
            @include dim(auto,80px);

            padding-left:0px;
        }
    
    }
    
    section
    {
    
    grid-area: info2;
    margin: 30px;

      p{
        @include dim(auto,100%);
        font-size: 20px;
        padding: 5px 10px 0px 10px;
        text-align: justify;
        text-justify: inter-word; 
      }  

      form{

        display:flex;
        justify-content: center;
      }
      h1{

        text-align: center;
        font-weight: bold;
        
        padding-top: 5px;
        padding-bottom: 5px;
      }
      h3 {
        
        font-weight: bold;
        
        padding: 10px 10px;
    }
    table {
        margin: 0 auto;
    }

    .seccion1 {
        display: flex;
    }

    table td {
        text-align: center;
    }

    .et{
        text-align: left;
        font-weight: bold;
        font-size: 15px;
        padding: 5px 5px;
        margin: 5px 5px;
       
    
    }

    .ir{

        text-align: center;
       
        font-weight: bold;
        font-size: 15px;
        padding: 5px 0px;
        margin: 5px 0px;  
            a{
                color:whitesmoke;
            }    
            a:hover{
                color:black;
            } 
        }      

    }
    article
    {
   
    grid-area: articulo;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    align-items: flex-end;

         div
        {   
            @include dim(auto,100%);
           
        }
        img
        {
            @include dim(auto,100%);
             padding: 10px;
        }
        p
        {
            margin:0;
            padding: 10px;
            color:brown;
        }

    }

    aside
    {
    
    grid-area: banner;
    display:flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;

        .ban1{
            @include dim(auto,100%);
            margin:5px 10px;
            padding:5px 10px;
        }

        .ban2
        {
            margin: 0;
             padding:5px;

        }

        .ban3
        {
         margin: 0;
         padding:5px;

        }

        .ban4
        {
        margin: 0;
        padding:5px;

        }
    }   
    footer
    {
            
        grid-area: footer;
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        font-size: 10px;
        padding: 5px;
    }
    

}   
/* responsive */
@media (max-width: 1024px) {
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
}

@media (max-width: 1024px) {
    #area
       {
        display: grid;
        grid-template-areas:
        "menu"
        "info2"
        "footer";
        gap: 5px;
        height: 170vh;
        grid-template-rows: 10% 70% 20%;
        grid-template-columns: 100%;
        
    }
        }
        
            
@media (max-width: 1024px) {
#area nav
        {
                
                
         grid-area: menu;
         display: flex;
         justify-content: center;
                  
        }
        }
@media (max-width: 1024px) {
#area nav div img
        {
         display:none;
         }
         }
            
@media (max-width: 1024px) { /* max = hasta... */
#area nav ul
    {
         list-style: none;
         display: flex;
         flex-direction: row;
         list-style: none;
         justify-content: center;
         align-content: stretch;
         flex-wrap: nowrap;
         align-items: center;
         font-size:5px;
            
    }
    }
            
        
@media (max-width: 1024px) {
#area nav ul li a 
     {
         margin:1px 1px;
         padding: 1px;
         background-color: blue;
         text-decoration: none;
         color:antiquewhite;
         border-radius: 1px;
         font-size:10px;
        }
     }
            
@media (max-width: 1024px) {
#area header
         {
         display:none;
         }
         }
        
@media (max-width: 1024px) {
#area section 
        {
        grid-area: info2;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        }
         }
    
@media (max-width: 1024px) {
#area section .p1{
         
    font-size: 10px;
    padding: 5px 10px;
         
                   
    }          
    }

@media (max-width: 1024px) {
#area section td{
         
    font-size: 10px;
    text-align:center;
        
                  
   }          
   }
  
@media (max-width: 1024px) {
#area section th{
             
        font-size: 10px;
        text-align:center;
            
                      
       }          
       }
         
@media (max-width: 1024px) {
#area .arreglo
         {
         background-color: #D4F7BB;
         grid-area: menu;
         position:fixed;
         left: 0px;
         right:0px;
         height: 50px;
         padding: 0px;
             }
            }
            
         
@media (max-width: 1024px) {
#area section .titulo2 {
         text-align: center;
         font-weight: bold;          
         font-size: 20px;
         justify-self: center;
        }
        }
            
    
            
      
            
@media (max-width: 1024px) {
#area nav div img
        {
        display:none
        }
        }
    
@media (max-width: 1024px) {
#area nav
        {
                
        grid-area: menu;       
        display: flex;      
        justify-content: center;     
        
                
            /* padding-left: 0px; */
                
            /* column-gap: 10px; */
        }
        }

@media (max-width: 1024px) { /* max = hasta... */
#area nav ul
        {
        list-style: none;
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: right;
        align-content: stretch;
        flex-wrap: nowrap;
        align-items: right;
        font-size:5px;
        
        }
        }
         
@media (max-width: 1024px) {
#area nav ul li a 
        {
        margin:1px 1px;
        padding: 1px;
        background-color: #A8F571;
        text-decoration: none;
        color:antiquewhite;
        border-radius: 1px;
        font-size:15px;
        }
        }
    
@media (max-width: 1024px) {
#area section h2
            {
                display:none;
                
            }
        }         
        
@media (max-width: 1024px) {
#area aside
    {
            
        display:none;
    }
    }
